.smenu ul{width:859px;}
.competition-list ul{width:1000px;padding:17px;}
.competition-list li{display:inline;float:left;width:305px;height:279px;margin:0 16px 40px 0;}
.competition-list li img{width:305px;height:183px;}
.competition-list li p{height:45px;line-height:45px;margin-bottom:12px;text-indent:2px;color:#000;}
.competition-list li span{width:140px;height:37px;line-height:37px;border:1px solid #E1E1E1;text-align:center;font-size:14px;}
.competition-list li a,.competition-list li a:hover{width:139px;height:39px;line-height:39px;background-color:#D2334F;text-align:center;font-size:14px;color:#FFF;}
.content-competition .pagination{margin:68px 0 9px 0;}

.banner-competition{background-color:#fff;text-align:center;overflow:hidden;}
.menu-competition{position:relative;height:45px;line-height:45px;background:#424242 url(images/repeatx.png) repeat-x 0 -124px;z-index:2;}
.menu-competition a{margin-right:20px;padding:0 20px;font:20px/45px "microsoft yahei";color:#FFF;}
.menu-competition a:hover,.menu-competition .cur{color:#d2334f;}
.menu-competition .mc-box{position:relative;}
.menu-competition .c-search{position:absolute;top:11px;right:7px;width:250px;height:24px;background-color:#FFF;}
.menu-competition .c-search .bd{position: absolute;width:1px;height:22px;top:1px;left:123px;background: url(images/cs-search-bd.png) no-repeat 0 0;z-index:10000;}
.menu-competition .c-search .placeholder{position: relative;width:124px;height:24px;overflow:hidden;}
.menu-competition .c-search .placeholder span{position: absolute;width:124px;height:24px;line-height:24px;top:0;left:0;z-index:2;text-indent:10px;color:#7a7a7a;}
.menu-competition .c-search .placeholder input{position:absolute;width:122px;height:18px;padding:2px 0;border:1px solid #FFF;text-indent:10px;}
.menu-competition .c-search.focus .placeholder input{border-color:#CE314E;}
.menu-competition .cs-select{position:relative;width:74px;height:20px;margin-top:3px;cursor:pointer;*margin-top:2px;}
.menu-competition .cs-select input{position:relative;display:block;width:74px;height:18px;line-height:18px;margin-top:-1px;padding:1px 0;border:0 none;text-indent:4px;color:#000;cursor:pointer;*width:70px;}
.menu-competition .cs-select .arrow{position: absolute;width:0;height:0;top:8px;right:5px;border:5px solid #7A7A7A;border-color:#7A7A7A #FFF #FFF #FFF;z-index:21;overflow:hidden;*top:8px;}
.menu-competition .focus .cs-select .arrow{top:2px;border-color:#FFF #FFF #CE314E #FFF;}
.menu-competition .cs-select .css-list{display:none;position: absolute;top:0;left:0;width:73px;top:-3px;left:-1px;padding:2px 0;border:1px solid #CE314E;background-color: #FFF;text-indent:4px;z-index:20;}
.menu-competition .focus .cs-select .css-list{display:block;}
.menu-competition .cs-select .css-list li{height:18px;line-height:18px;cursor:pointer;}
.menu-competition .c-search .cs-btn{width:52px;height:24px;line-height:24px;margin:0;padding:0;background-color:#000;color:#FFF;font-size:14px;text-align:center;}

.competition-work{background-color:#FFF;}
.competition-work .user-bread{padding:12px 0;}
.competition-work .sbox{padding-top:0;border:none;}
.competition-work .school-list .sl-item span{display: inline-block;width:auto;margin:0 5px;line-height:22px;}
.competition-work .work-show .school-list .sl-item{position: relative;width:210px;height:202px;margin-right:32px;overflow:visible;_margin-right:25px;z-index: 1;}
.competition-work .work-show .school-list .sl-item .ws-img{position: relative;width:208px;z-index: 1;}
.competition-work .work-show .school-list .sl-item .ws-img-box{position: relative;display: inline-block;}
.competition-work .work-show .school-list .sl-item .ws-img .flag-enter{position: absolute;width:28px;height:17px;line-height:17px;top:0;right:0;margin:0;background-color: #C35360;color:#FFF;text-align:center;font-size:12px;}
.competition-work .work-show .school-list .sl-item:hover,.competition-work .work-show .school-list .sl-item-hover{width:210px;height:202px;border:none}
.competition-work .work-show .school-list .sl-item:hover .ws-img,.competition-work .work-show .school-list .sl-item-hover .ws-img{border:1px solid #D2334F;}
.competition-work .work-show .school-list p a{display: inline-block;margin-right:5px;}
.competition-work .work-show .school-list img{max-width:188px;max-height:144px;}
.competition-work .work-show-channel .school-list{width:1100px;}
.competition-work .work-show .school-list .sl-item p{width:230px;margin-left:-10px;}
.competition-work .work-show .school-list .sl-item:hover p,.competition-work .work-show .school-list .sl-item-hover p{margin-left:-10px;text-indent:0;}
.competition-work .work-show .school-list .sl-item:hover strong,.competition-work .work-show .school-list .sl-item-hover strong{margin-top:8px;}

.cw-judge-info span{margin:0 5px;}
.competition-work-judge .work-show .school-list .sl-item{height:230px;}
.competition-work-judge .work-show .school-list .sl-item:hover, .competition-work-judge .work-show .school-list .sl-item-hover{height:230px;}
.competition-work-judge .work-show .school-list .sl-item .btn-enter{display: block;width:70px;height:24px;margin:8px auto 0;border:none;background:#9D9D9D none;color:#FFF;cursor:pointer;}
.competition-work-judge .work-show .school-list .sl-item .btn-enter:hover,.competition-work-judge .work-show .school-list .sl-item .btn-enter-cur{background-color: #C52F4A;}
.competition-work .work-show .school-list .sl-item .si-info{width:230px;margin-left:-10px;*margin-top:3px;}
.competition-work .work-show .school-list .sl-item .si-info span{display: inline-block;vertical-align:middle;}
.competition-work .work-show .school-list .sl-item .voters{display: none;position: absolute;width:100%;top:202px;left:0;padding:2px 0;background-color: #D2334F;z-index:100;}
.competition-work .work-show .school-list .sl-item .voters a{float:left;width:40px;height:24px;line-height:24px;margin:0 0 0 10px;color:#FFF;}
.competition-work .work-show .school-list .sl-item .voters a:hover{color:#FFF;text-decoration:underline;}
.competition-work .work-show .school-list .sl-item .voters em{position: absolute;display:block;width:0;height:0;top:-8px;right:45px;border:4px solid #FFF;border-color:#FFF #FFF #C52F4A #FFF;_top:-26px;}
.competition-work .work-show .school-list .sl-item .judge-vote{display: inline-block;height:20px;vertical-align:middle;*display:inline;*vertical-align:-3px;}
.competition-work .work-show .school-list .sl-item .judge-vote .jv-count{height:28px;}
.competition-work .work-show .school-list .sl-item .judge-vote:hover,.competition-work .work-show .school-list .sl-item .judge-vote .jv-count:hover{color:#D2334F;}
.competition-work .sbox{overflow:visible;}

.competition-work .article{width:100%;padding-bottom:0;}
.competition-work .article .a-title a{width:780px;}
.competition-work .article .a-title .date{font-size:14px;}
.competition-work .judge-list{min-height:600px;_height:600px;}
.competition-work .judge-list .tip-before{margin-top:20px;font-size:18px;font-family:"microsoft yahei";text-align:center;}
.judge-list li{margin-bottom:10px;padding:0 0 0 188px;line-height:60px;}
.judge-list li img{width:60px;height:60px;}
.judge-list li .jl-name{width:70px;height:60px;margin:0 7px 0 18px;font-size:16px;font-family:"microsoft yahei";color:#666;overflow:hidden;}
.judge-list li a:hover{color:#666;text-decoration:underline;}
.judge-list li span{font-size:16px;font-family:"microsoft yahei";color:#666;}

.judge-rank table{width:100%;border-left:1px solid #EBEBEB;border-top:1px solid #EBEBEB;border-right:1px solid #EBEBEB;}
.judge-rank th,.judge-rank td{padding:0 5px;border-bottom:1px solid #EBEBEB;}
.judge-rank th{height:28px;font-size:14px;color:#000;font-family:"microsoft yahei";}
.judge-rank td{padding:5px;height:26px;line-height:26px;}
.judge-rank .judges{width:464px;height:26px;overflow:hidden;}
.judge-rank .judges a{float: left;width:4em;height:26px;margin-right:10px;}
.judge-rank td .jr-title{display: block;width:100px;height:26px;overflow:hidden;}
.judge-rank td p{display: block;width:100%;height:26px;overflow:hidden;}
.judge-rank tr:hover td,.judge-rank .hover td{background-color: #C52F4A;color:#FFF;}
.judge-rank tr:hover td p,.judge-rank .hover td p{height:auto;color:#FFF;}
.judge-rank tr:hover td a,.judge-rank .hover td a{color:#FFF;}
.judge-rank tr:hover td a:hover,.judge-rank .hover td a:hover{text-decoration:underline;}
.judge-rank tr:hover .judges,.judge-rank .hover .judges{height:auto;}

.competition-racenews .article{width:100%;padding-bottom:0;}
.competition-racenews .article .a-title a{font-size:12px;font-family:\5b8b\4f53;}

.competition-join .sbox{min-height:600px;_height:600px;}
.competition-join h1{line-height:32px;font-size:18px;font-family:"microsoft yahei";}
.competition-join p{line-height:26px;color:#000;}