.smenu li a{margin:0 33px;}

.video-list{padding:18px;}
.video-list ul{width:996px;}
.video-list li,.video-list img,.video-list .mask{width:200px;height:133px;}
.video-list li{display:inline;float:left;height:163px;margin:0 49px 12px 0;}
.video-list .mask{position:absolute;top:0;left:0;}
.video-list a{position:relative;display:block;}
.video-list a .ico-video{display:none;}
.video-list a:hover p{color:#D2334F;}
.video-list a:hover .mask-bg{position:absolute;top:0;left:0;width:200px;height:133px;background:#7A7A7A;opacity:0.7;filter:alpha(opacity=70);}
.video-list a:hover .ico-video{display:block;position:absolute;top:50%;left:50%;margin:-16px 0 0 -25px;}
.video-list li p{height:30px;line-height:30px;text-align:center;font-size:12px;overflow:hidden;}

.content-video .box{padding-bottom:15px;}